h1 {
  margin-left: 1.4em;
  margin-top: 20px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: large;
  justify-content: space-between;
  word-break: break-word;
  align-items: center;
  color: white;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
  row-gap: 2ch;
}

#coolbutton {
  display: flex;
  background-color: #007bff;
  border: 1px solid transparent;
  border-color: #007bff;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  margin: auto;
  margin-top: 40px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
