@mixin cross($size: 15px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }
}

.btn-close {
  margin: 0;
  margin-top: 2.05em;
  margin-left: 1em;
  border: 0;
  padding: 0;
  background: hsl(216, 100, 50);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .icon-cross {
    @include cross(13px, #fff, 1.5px);
  }

  &:hover,
  &:focus {
    transform: rotateZ(90deg);
    background: darkred;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: large;
  justify-content: space-between;
  word-break: break-word;
  align-items: center;
  color: white;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
  column-gap: 1ch;
}

.card {
  max-width: 400px;
  max-height: 400px;
}

.filetext {
  margin-top: 2em;
  margin-left: 0.3em;
}

.note {
  font-size: medium;
  color: red;
  margin-top: 1em;
  margin-left: 0.5em;
}

.thumbnail {
  margin-right: 1em;
  width: 120px;
  height: 90px;
  object-fit: cover;
}

.logo {
  margin-top: 1.8px;
  margin-left: 0.1em;
}

#buttoncontainer {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 2em;
  width: 168px;
}

#cardHeading {
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: 1.2em;
  font-size: 17px;
}

#heading {
  margin-top: 80px;
  font-size: 25px;
  margin-bottom: 40px;
  margin-left: 0.3em;
}
