<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <div id="heading"> Upload Images and Videos
  <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836_960_720.png" class="logo" width="25"
    height="25">
  </div>

  <div class="col-sm-6">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="file" id="file1" (change)="onFileSelect($event)">
      <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
    </div>
    <p class="note"> Max database storage is 512MB!</p>
  </div>

  <div style="margin-left: 3em;">
    <p id="cardHeading"> Uploaded Files:</p>
    <div class="cardContainer">
      <mat-card class="card" *ngFor="let file of files">
        <span style="display: flex;">
          <video class="thumbnail" (click)="stream(file.filename)" width="90" height="90" muted
            *ngIf="file.contentType.includes('video')">
            <source [src]="'/image/' + file.filename" type="video/mp4" />
          </video>
          <img class="thumbnail" *ngIf="file.contentType.includes('image')" alt="" width="90" height="90"
            [src]="'/image/' + file.filename" />

          <a class="filetext" [href]="'/image/' + file.filename" [download]="file.filename">{{ file.filename }} </a>
          <!-- <button (click)="stream(file.filename)" *ngIf="file.contentType.includes('video')"> Stream </button> -->
          <button class="btn-close" (click)="delete(file._id); refreshPage();">
            <span class="icon-cross"></span>
            <span class="visually-hidden"></span>
          </button>
        </span>
      </mat-card>
    </div>

      <br />

    <p style="font-size:1.2em">
      <mat-icon (click)="refreshPage()" style="cursor: pointer;">refresh</mat-icon> Refresh List
    </p>
  </div>

  <div class="col-sm-6" id="buttoncontainer">
    <button class="btn btn-primary" [routerLink]="['/collection']">
      View Collection
    </button>
    <button class="btn btn-primary" (click)="onFormSubmit();" style="margin-top: 12px">
      Upload
    </button>
  </div>
</div>
