<mat-toolbar class="mat-elevation-z8" color="primary">
  <span id="title">Welcome to J-Tube!</span>
  <img src="https://cdn.pixabay.com/photo/2012/04/02/16/02/button-24836_960_720.png" class="logo" width="42"
    height="42">

  <div class="spacer"></div>

  <div *ngIf="isHome()">
    <input type="text" placeholder="Search.." [(ngModel)]="searchTerm" (keyup)="onSearch()" />
  </div>

  <a mat-button routerLink="home"> Home </a>
  <a mat-button routerLink="upload"> Upload</a>
  <a mat-button routerLink="collection"> Collection </a>
  <a mat-raised-button color="accent" href="/logout"> Logout </a>
</mat-toolbar>
